<% include partials/header %>

<h1><%= application.name %></h1>

<img src="<%= application.image %>">

<p><%= application.summary %></p>

<% application.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author%></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include partials/footer %>
